$grey: rgba(255,255,255,.5);
$primarycolor: #f39c12;

.form-input {
    display: grid;
    padding: 10%;
    grid-template-columns: 100%;
    grid-gap: 10px;
    color: $grey;

    input {
        border:2px solid $grey;
        border-radius:.25em;
        transition:all .100s;
        color: $grey;
        height: 30px;
        width: 100%;
        max-width: 250px;
        
        &:focus{
            outline:none;
            color:  $primarycolor;
            border-color: $primarycolor;
        }
        
        &.keyup {
            color:white;
            border-color:white;
            text-shadow:0 0 .125em white;
            box-shadow:0 0 .25em white,inset 0 0 .25em white;
        }
    }

    .submit, .reset {
        background-color: $primarycolor;
        border:2px solid $primarycolor;
        color: $primarycolor;
        
        &:focus{
            outline: none;
        }
    }

    input, .submit, .reset {
        border-radius:.25em;
        background:transparent;
        font-size:1.5em;
        width: 180px;
        padding:.25em .5em .3125em;
        margin:auto;
    }

    .react-datepicker-wrapper {
        margin: auto;
    }

    .results {
        text-align: center;
        color: ghostwhite;
    }
}
